cloud-sptheme
cssutils
docutils
ipython
Jinja2
latexcodec
lockfile
MarkupSafe
matplotlib-inline
pybtex
pybtex-docutils
Sphinx
sphinx-carousel
sphinx-copybutton
sphinx-jinja2-compat
sphinx-prompt
sphinx-rtd-theme
sphinx-tabs
sphinx-toolbox
sphinx_autodoc_typehints
sphinxcontrib-applehelp
sphinxcontrib-bibtex
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml